<%- include('../partials/header') %>
<%- include('../partials/navigation', { nav }) %>

<main class="login-container">
  <h1><%= title %></h1>
  
  <% if (message) { %>
    <div class="flash-message"><%= message %></div>
  <% } %>

  <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>

  <%- include('_loginForm', { account_email: typeof account_email !== 'undefined' ? account_email : '' }) %>
  
  <div class="register-link">
    No account? <a href="/account/register">Sign-up</a>
  </div>
</main>

<%- include('../partials/footer') %>